@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #7f39fb;
	--primary-hover-color: #985eff;
	--primary-accent-color: #dbb2ff;
	--dark-gray-100: #35393f;
	--dark-gray-200: #2b2d31;
	--dark-gray-300: #1d1f22;
	--dark-gray-500: #151619;
	--light-gray: #f5f5f5;
	--light-gray-100: #5a6069;
	--text-gray-100: #c1c4cb;
	--text-gray-200: #7c8187;
	--white: #ffff;
	--modal-backdrop-light: #00000083;
	--modal-backdrop-dark: #ffffff80;
}

body {
	background: var(--dark-gray-500);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 0.875rem;
	font-size: clamp(
		0.875rem,
		0.8533333333333333rem + 0.10666666666666667vw,
		1rem
	);
}

main {
	height: calc(100vh - 55px);

	@media screen and (min-width: 998px) {
		height: calc(100vh - 70px);
	}
}

path {
	transition: stroke 0.3s;
}

.icon-active,
.icon-btn:hover .icon,
.icon-btn:focus .icon,
.document-link:hover .link-icon,
.document-link:focus .link-icon {
	stroke: var(--primary-color);
}

.icon-btn:hover .tooltip,
.icon-btn:focus .tooltip {
	opacity: 1;
}

.aside-links {
	max-height: 60vh;

	@media screen and (orientation: landscape) {
		max-height: 30vh;
	}

	@media screen and (min-width: 1024px) and (orientation: landscape) {
		max-height: 60vh;
	}
}

.link-element {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
}

.link-element h3 {
	font-size: 14px;
	line-height: 20px;
	color: var(--text-gray-200);
}

.link-element p {
	color: var(--white);
	transition: color 0.3s;
}

.aside-link:hover p,
.aside-link:focus p {
	color: var(--primary-color);
}

.react-resizable-handle {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 5px;
	height: 100%;
	background: transparent;
	border-right: 1px solid var(--text-gray-200);
	cursor: col-resize;
	transition: background-color 0.3s, border-color 0.3s;
	transition-delay: 0.3s;
}

.only-editor .react-resizable-handle {
	display: none;
}

.react-resizable-handle:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.react-resizable-handle:active {
	background-color: var(--primary-hover-color);
	border-color: var(--primary-hover-color);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

::-moz-selection {
	background: var(--primary-accent-color);
}

::selection {
	background: var(--primary-accent-color);
}

.title-label {
	transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.title-input:focus ~ .title-label {
	color: var(--white);
	background-color: var(--primary-color);
	transform: translate(0.5rem, -1.25rem) scale(0.8);
}
